/* layers control */
.leaflet-control-layers {
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
}

.leaflet-control-layers-toggle {
    /* background-image: url(images/layers.png); */
    width: 30px;
    height: 30px;
    display: inline-block;
}

.leaflet-retina .leaflet-control-layers-toggle {
    /* background-image: url(images/layers-2x.png); */
    background-size: 30px 30px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: inline-block;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 30px;
    height: 30px;
}

.leaflet-control-layers .leaflet-control-layers-list {
    position: absolute;
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
    right: 100%;
    top: 0;
    display: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-right: 2px;
    width: 140px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    /* position: relative; */
}

.leaflet-control-layers-expanded {
    padding: 0;
    color: #333;
    background: #fff;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers label {
    display: block;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

.leaflet-top.leaflet-right {
    z-index: 1003;
}